/* Define the list of background images */
#dynamic-background {
    background-repeat: no-repeat;
    background-size: cover;
    animation: backgroundAnimation 20s linear infinite; /* Adjust the duration as needed */
    background-image: url("/static/images/background3.jpeg"); /* Relative or absolute URL to your image */
}

@keyframes backgroundAnimation {
    0% {
        background-image: url("/static/images/background5.jpeg");
    }
    33% {
        background-image: url("/static/images/background2.jpeg");
    }
    66% {
        background-image: url("/static/images/background3.jpeg");
    }
    100% {
        background-image: url("/static/images/background4.jpeg");
    }
}

.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    }
