{% extends 'main/base.html' %}
{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="text-center border p-4 shadow rounded" style="background-color: white; max-width: 800px;">
    <h1 class="mb-4 text-success">Login</h1>
    <hr/>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}  
      {% if msg %}
        <p class="text-danger">{{ msg }}</p>
      {% endif %}
      <button type="submit" class="btn btn-success">Login</button>
    </form>
    <p>Don't have an account? <a href="/sign-up">Sign Up</a></p>
    <p>Forgot Password? <a href="/password_reset">Reset</a></p>
  </div>
</div>
{% endblock %}
