{% extends 'main/base.html' %}
{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="text-center border p-4 shadow rounded" style="background-color: white; max-width: 800px;">
     {% if messages %}
        <div class="alert alert-success" role="alert">
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{ message }}
                        {% if message.tags == 'success' %}
                            <i class="fas fa-check fa-lg ml-2"></i>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <h1 class="card-header mb-4 text-success">Login</h1>
    <form method="post">
      {% csrf_token %}
      
      <div class="form-floating mb-3">
        {{ form.username }}
        <label for="{{ form.username.id_for_label }}"><i class="fas fa-user"></i> Username</label>
      </div>
      
      <div class="form-floating mb-3">
        {{ form.password }}
        <label for="{{ form.password.id_for_label }}"><i class="fas fa-lock"></i> Password</label>
      </div>
      
      {% if msg %}
        <p class="text-danger">{{ msg }}</p>
      {% endif %}
      
      <button type="submit" class="btn btn-success">Login</button>
    </form>
    
    <p>Don't have an account? <a href="/sign-up">Sign Up</a></p>
    <p>Forgot Password? <a href="/password_reset">Reset</a></p>
  </div>
</div>
{% endblock %}
