{% extends 'main/base.html' %}

{% block title %}Password Reset{% endblock %}

{% block content %}
  <div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-body">
            <h2 class="card-title">Reset Password</h2>
            <hr/>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Set New Password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
