{% extends 'main/base.html' %}
{% block title %}Sign Up{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="d-flex justify-content-center align-items-center vh-150">
<div class="text-center border p-4 shadow rounded" style="background-color: white">
<form method="post">
<h1 class="mb-4 text-success">Sign Up</h1>
{% csrf_token %}{{form|crispy}}
<p>Have an account? <a href="/login">Login</a></p>
<button type="submit" class="btn btn-success">Register</button>
</form>
</div>
</div>
{% endblock %}
