{% extends 'main/base.html' %}
{% block title %}Add Person{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
  
      <div class="col-lg-4 col-xl-8 mb-4">
          <div class="card card-sm mb-4 h-100 d-flex flex-column mb-4">
            <div class="card-body">
              <h2 class="card-header text-success md-3">Add a Person to {{ farm.name }}</h2>
              <form method="post" action="{% url 'add_person' farm_id=farm.id %}">
                {% csrf_token %}
                <div class='mt-3'>
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Add Person</button>
                </div>
              </form>
            </div>
        </div>
    </div>
 </div>
{% endblock %}
