{% extends 'main/base.html' %} 
{% load static %}
{% block title %}Windwood Chat {{ farm.name }}{% endblock %} 

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center mb-3">
        <div class="col-md-4 mb-4">
            {% if messages %}
                <div class="alert alert-success" role="alert">
                    <ul class="messages">
                        {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                                {{ message }}
                                {% if message.tags == 'success' %}
                                    <i class="fas fa-check fa-lg ml-2"></i>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 col-sm-12 mb-4">
                <div class="card h-100 d-flex flex-column">
                    <!-- Farm Header -->
                    <div class="card-header" style="background-color: #5B362D;">
                        <div class="d-flex align-items-center">
                            <i class="fas fa-comments fa-2x me-2 text-success"></i>
                            <b class="mb-0 text-success">Chat Real Time</b>
                        </div>
                    </div>
                    <!-- Farm Activities Content -->
                    <div class="card-body d-flex flex-column">
                       
                        <hr>
                        <div id="chat-container" style="max-height: 300px; overflow-y: auto; border: 1px solid #ccc; padding: 10px;" class="d-flex flex-column">
                            <b class="text-success">New Messages showing below !</b>
                            <hr>
                        </div>
                     <div class="mb-3">
                        <label for="messageContent" class="form-label mt-3">Compose Message</label>
                        <textarea class="form-control" id="messageContent" name="content" rows="3" required></textarea>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="sendMessage()">Send Message</button>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{% static 'js/chat.js' %}"></script>

<script>
   var fetchMessagesUrl = "{% url 'fetch_messages' %}";
</script>
{% endblock %}
