{% extends 'main/base.html' %} 
{% load static %}
{% block title %}Farm Details | {{ farm.name }}{% endblock %} 

{% block content %}
<div class="container mt-5">
<div class="row justify-content-center mb-3">
  <div class="col-md-4 mb-4">
          {% if messages %}
            <div class="alert alert-success" role="alert">
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                            {{ message }}
                            {% if message.tags == 'success' %}
                                <i class="fas fa-check fa-lg ml-2"></i>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
</div>
<div class="row justify-content-center">
  
       <!-- Farm Activities Card -->
        <div class="col-md-5 col-sm-12 mb-4">
            <div class="card h-100 d-flex flex-column">
             {% if farm.farm_photo %}
                 <!-- Farm Image -->
                 <img src="{{ farm.farm_photo.url }}" alt="User Photo" class="img-fluid w-100 h-100">
       
                  {% else %}     
                 <img src="{% static 'images/cassava_farm.jpeg' %}" class="card-img-top" alt="Cassava Harvest Image">
                  {% endif %}
          
                <!-- Farm Header -->
                <div class="card-header" style="background-color: #5B362D;">
                    {% if farm.name %}
                        <p class="text-center text-success h1 fw-bold mt-4">
                            {{ farm.name }}
                        </p>
                    {% endif %}
                </div>

                 <!-- Created On -->
                {% comment %} <div class="d-flex flex-row mb-2"> {% endcomment %}
                    <div class="card-header">
                      <div class="d-flex align-items-center mb-3 mt-3">
                        <a href="{% url 'farm_activities' farm_id=farm.id %}" class="btn btn-link text-decoration-none text-success"><i class="fas fa-tractor"></i>Activities</a>
                        <a href="{% url 'farm_resources' farm_id=farm.id %}" class="btn btn-link me-1 text-decoration-none text-success"><i class="fas fa-box"></i> Resources</a>
                        <a href="{% url 'farm_workers' farm_id=farm.id %}" class="btn btn-link text-decoration-none text-success me-1"><i class="fas fa-users"></i> Workers</a>
                      </div>
                        <i class="fas fa-calendar-alt fa-lg me-3 fa-fw"></i>
                        <strong>Created On:</strong> {{ farm.created }}
                    </div>
                {% comment %} </div> {% endcomment %}

                <!-- Farm Activities Content -->
                <div class="card-body d-flex flex-column">

                   <div class="d-flex flex-row align-items-center mb-2">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                            <strong>Owner:</strong> {{ farm.user.full_name }}
                        </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-2">
                        <i class="fas fa-seedling fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                            <strong>Crops:</strong> {{ farm.crops }}
                        </div>
                    </div>

                     <div class="d-flex flex-row align-items-center mb-2">
                        <i class="fas fa-seedling fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                            <strong>Other Crops:</strong> {{ farm.other_crops }}
                        </div>
                    </div>

                   <div class="d-flex flex-row align-items-center mb-2">
                    <i class="fas fa-map-marker-alt fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                       <strong>Distcrict:</strong> {{ farm.district }}
                    </div>
                   </div>

                   <div class="d-flex flex-row align-items-center mb-2">
                    <i class="fas fa-map-marker-alt fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                       <strong>Location Coordinates:</strong> {{ farm.location_coordinates }}
                    </div>
                   </div>

                   <a href="{% url 'edit_farm' farm.id %}" class="btn btn-primary d-flex justify-content-center mx-auto mb-3"><i class="fas fa-edit"></i></a>
                   <hr>

                   <div class="row justify-content-center align-items-center">
                        <div class="col-auto">
                            <span class="material-icons">lightbulb</span>
                        </div>
                        <div class="col-auto">
                            <p class="fw-bold">Need to Share Farm Photos ?</p>
                        </div>
                        <div class="col-auto">
                            <a href="{% url 'farm_workers' farm_id=farm.id %}" class="btn btn-link text-decoration-none text-success">
                                <span class="material-icons me-3" style="vertical-align: middle; font-size: 1.8em;">photo_camera_back</span>Add More Farm Photos
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
 {% block javascript %}
<script>
var farmId = {{ farm_id }};
var csrfToken = "{{ csrf_token }}"; 
document.addEventListener('DOMContentLoaded', function () {
    var deleteButtons = document.querySelectorAll('.delete-person');
    var confirmDeleteBtn = document.getElementById('confirmDeleteBtn');
    var deletePersonMessage = document.getElementById('delete-person-message');

    deleteButtons.forEach(function (button) {
        button.addEventListener('click', function () {
            var personId = this.getAttribute('data-person-id');
            var modal = new bootstrap.Modal(document.getElementById('confirmDeleteModal'));

            // Update the modal content
            deletePersonMessage.textContent = 'Are you sure you want to delete this person?';

            confirmDeleteBtn.addEventListener('click', function () {
                // Send an AJAX request to delete the person
                fetch('/farm/' + farmId + '/delete_person/' + personId + '/', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrfToken,
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ person_id: personId }),
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            // Optionally, update the UI or reload the page
                            location.reload();
                        } else {
                            // Handle the error case
                        }
                    });

                // Hide the modal
                modal.hide();
            });

            // Show the modal
            modal.show();
        });
    });
});
</script>
 {% endblock %}

