r{% extends 'main/base.html' %} 
{% load static %}
{% block title %}Farm Resources - farm.name{% endblock %} 
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
   {% if messages %}
        <div class="alert alert-success" role="alert">
          <ul class="messages">
              {% for message in messages %}
                  <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                      {{ message }}
                      {% if message.tags == 'success' %}
                          <i class="fas fa-check fa-lg ml-2"></i>
                      {% endif %}
                  </li>
              {% endfor %}
          </ul>
      </div>
      {% endif %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 d-flex flex-column">
              <img src="{% static 'images/cassava_farm.jpeg' %}" class="card-img-top" alt="Cassava Harvest Image">
              <div class="card-header">
                <h2 class="mb-4">{{ farm.name }} Resources</h2>
                <hr>
                 {% if resources %} 
                  <div class="card-body d-flex align-items-center mb-3">
                        <p class="mb-0 text-success fw-bold">Received New Farm Resources?</p>
                        <a href="{% url 'create_resource' farm_id=farm.id %}" class="btn btn-primary ms-auto"><i class="fas fa-plus"></i></a>
                    </div>
                    {% endif%}
                    
              </div>
              <div class="card-body d-flex flex-column">
                
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    {% if resources %}
                        <ol>
                            {% for resource in resources %}
                                <li><b>{{ resource.name }} </b>- <b>{{ resource.quantity }} units</b>, Supplied on <b>{{ resource.date_supplied}}</b> by <b>{{resource.supplier_name}}</b></li>
                            {% endfor %}
                        </ol>
                    {% else %}
                        <p>No resources available for this farm.</p>
                        <a href="{% url 'create_resource' farm_id=farm.id %}" class="btn btn-primary"><i class="fas fa-plus me-1"></i>Add Farm Resources</a>
                    {% endif %}
              </div>
            </div>
        </div>
  </div>
</div>
{% endblock %}
{% block javascript %}

{% endblock %}
