{% extends 'main/base.html' %} 
{% load static %}
{% block title %}farmer's{% endblock %} 
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="{% static 'images/cassava.jpeg' %}" class="card-img-top" alt="Cassava Image">
        <div class="card-header">
          Farmer bio-data & Geo-tagging
        </div>
        <div class="card-body">
          <p class="card-text">Cassava, maize, and rice are crucial staple crops globally. Cassava is a versatile root crop, while maize and rice, as cereal grains, play vital roles in providing sustenance and ensuring food security for millions worldwide.</p>
          <a href="{% url 'add_farm' %}" class="btn btn-primary">Add a Farm</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="{% static 'images/cassava-harvest.avif.avif' %}" class="card-img-top" alt="Cassava Harvest Image">
        <div class="card-header">
          Farmers’ activities
        </div>
        <div class="card-body">
          <p class="card-text">Implementing effective cassava farm management involves optimizing soil health, implementing pest control measures, and employing efficient harvesting techniques.</p>
          <a href="{% url 'add_farm' %}" class="btn btn-primary">Farm Management</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% block javascript %}
    <script src="{% static 'js/custom.js' %}"></script>
{% endblock %}
{% endblock %}
