{% extends 'main/base.html' %} 
{% load static %}
{% block title %}Farming Activities{% endblock %} 
{% block content %}
<div class="container mt-5">
   <div class="row justify-content-center">
        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
          <p class="text-center text-success h1 fw-bold">
            Crop Farming Activities
          </p>
          <hr/>
        <form method="post" action="{% url 'create_crop_information' farm.id %}">
          {% csrf_token %} 
          {% if form.errors %}
          <div class="alert alert-danger">
            <strong>Error:</strong> Check the following fields:
            <ul>
              {% for field in form %}
               {% for error in field.errors %}
              <li>
              {{ field.label_tag }}: {{ error }}
              </li>
              {% endfor %}
              {% endfor %}
            </ul>
          </div>
          {% endif %}
           <div class="row mb-4">
          <div class="col-md-12 mb-4">
          <div class="card h-100 d-flex">
          <strong class="card-header">Farming Activities Dates</strong>
          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-calendar-alt fa-lg me-3 fa-fw"></i>
            <div class="form-floating mb-1 mt-4"> 
             {{ form.date_planting }}
                <label for="{{ form.date_planting.id_for_label }}">Planting</label>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-calendar-alt fa-lg me-3 fa-fw"></i>
            <div class="form-floating mb-1">
               {{ form.date_ploughing }} 
               <label for="{{ form.date_ploughing.id_for_label }}">Ploughing</label>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-calendar-alt fa-lg me-3 fa-fw"></i>
                <div class="form-floating mb-1">
                {{ form.date_weeding }}
                <label for="{{ form.date_weeding.id_for_label }}">Weeding</label>
                </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-calendar-alt fa-lg me-3 fa-fw"></i>
            <div class="form-floating mb-1">
              {{ form.date_harvesting }}
              <label for="{{ form.date_harvesting.id_for_label }}">Harvesting</label>
            </div>
          </div>
         
          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-seedling fa-lg me-3 fa-fw"></i>
            <div class="form-floating mb-1">
             {{ form.date_fertilizer_application }}
             <label for="{{ form.date_fertilizer_application.id_for_label }}">Fertilizer Application</label>
            </div>
          </div>
           </div>
          </div>

          <div class="row mb-4">
          <div class="col-md-12 mb-4">
          <div class="card h-100 d-flex">
          <strong class="card-header">Farming Costs(UG Sh)</strong>
          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-leaf fa-lg me-3 fa-fw"></i>
            <div class="form-floating mb-1 mt-4">
              {{ form.cost_fertilizer_application }}
                 <label for="{{ form.cost_fertilizer_application.id_for_label }}">Fertilizer Application</label>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-seedling fa-lg me-3 fa-fw"></i>
            <div class="form-floating mb-1">
              {{ form.cost_planting }}
                 <label for="{{ form.cost_planting.id_for_label }}">Planting</label>
            </div>
          </div>

         <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-tractor fa-lg me-3 fa-fw"></i>
            <div class="form-floating mb-1">
             {{ form.cost_ploughing }}
             <label for="{{ form.cost_ploughing.id_for_label }}">Ploughing</label>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-money-bill fa-lg me-3 fa-fw"></i>
            <div class="form-floating mb-1">
             {{ form.cost_weeding }}
             <label for="{{ form.cost_weeding.id_for_label }}">Weeding</label>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-money-bill fa-lg me-3 fa-fw"></i>
            <div class="form-floating mb-1">
             {{ form.cost_harvesting }} 
              <label for="{{ form.cost_harvesting.id_for_label }}">Harvesting</label>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-money-bill fa-lg me-3 fa-fw"></i>
            <div class="form-floating mb-1">
             {{ form.transport_costs }}  
             <label for="{{ form.transport_costs.id_for_label }}">Transport</label>
            </div>
          </div>

           <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-money-bill fa-lg me-3 fa-fw"></i>
            <div class="form-floating mb-1">
             {{ form.other_costs }}  
             <label for="{{ form.other_costs.id_for_label }}">Other Costs</label>
            </div>
          </div>
          </div>
          </div>
          </div>

          <div class="row mb-4">
          <div class="col-md-12 mb-4">
          <div class="card h-100 d-flex">
          <strong class="card-header" >Farm Produce</strong>
          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-crop fa-lg me-3 fa-fw"></i>
            <div class="form-floating mb-1 mt-4">
             {{ form.quantity_planted }}
             <label for="{{ form.quantity_planted.id_for_label }}">Quantity Planted</label>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-barcode fa-lg me-3 fa-fw"></i>
            <div class="form-floating mb-1">
             {{ form.batch_number }} 
             <label for="{{ form.batch_number.id_for_label }}">Batch Number</label>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-shopping-bag fa-lg me-3 fa-fw"></i>
            <div class="form-floating mb-1">
             {{ form.bags_packed }} 
              <label for="{{ form.bags_packed.id_for_label }}">Bags Packed</label>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-seedling fa-lg me-3 fa-fw"></i>
            <div class="form-floating mb-1">
             {{ form.amount_sold }} 
              <label for="{{ form.amount_sold.id_for_label }}">Bags Sold</label>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-money-bill fa-lg me-3 fa-fw"></i>
            <div class="form-floating mb-1">
             {{ form.price_rate }} 
             <label for="{{ form.price_rate.id_for_label }}">Price per Bag(UG Sh)</label>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-shopping-cart fa-lg me-3 fa-fw"></i>
            <div class="form-floating mb-1">
             {{ form.market }}  
             <label for="{{ form.market.id_for_label }}">Market Sold</label>
            </div>
          </div>
          </div>
          </div>
          </div>

          <div class="row mb-4">
          <div class="col-md-12 mb-4">
          <div class="card h-100 d-flex">
          <strong class="card-header" >Labour</strong>
          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
            <div class="form-floating mb-1 mt-4">
            <div class="mb-0">
             <label>Crop Peelers</label>
            </div>
             {{ form.crop_peelers }} 
             {% for choice in form.crop_peelers %}
               {{ choice.tag }}
               {{ choice.choice_label }}
             {% endfor %} 
            </div>
          </div>
          </div>
        </div>
        <div>
          <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </form>
  </div>
</div>
{% endblock %}
