{% extends 'main/base.html' %} 
{% load static %}
{% block title %}farm staff{% endblock %} 
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
     
      <div class="col-md-4 mb-4">
        <div class="card h-100 d-flex flex-column">
          <img src="{% static 'images/cassava_farm.jpeg' %}" class="card-img-top" alt="Cassava Harvest Image">
          <div class="card-header">
                <p class="text-center text-success h1 fw-bold mt-4">
                 View More Farm Staff
                </p>
          </div>
          <div class="card-body d-flex flex-column">
                 {% for person in additional_farm_staff %}
                    <div class='card-body'>
                    {% if person.photo %}
                        <img src="{{ person.photo.url }}" alt="{{ person.name }} Photo" class="img-fluid rounded-circle me-3" style="max-width: 30px; max-height: 30px;">
                    {% else %}
                        <!-- Default avatar image -->
                        <img src="{% static 'images/avatar.jpeg' %}" alt="Default Avatar" class="img-fluid rounded-circle me-3" style="max-width: 30px; max-height: 30px;">
                    {% endif %}
                      <p class='mt-3'><strong>Full Name:</strong> {{ person.name }}</p>
                      <p><strong>Phone Number:</strong> {{ person.phone_number }}</p>
                      <p><strong>Date Employed:</strong> {{ person.date_of_employment }}</p>
                      <a href="{% url 'edit_person' farm_id=farm_id person_id=person.id  %}" class="btn btn-primary">Edit</a>
                   </div>
                {% endfor %}
            </div>
        </div>
       </div>
    </div>
</div>
{% endblock %}

